.content {
    height: 100%;
    display: flex;
    align-items: center;


    .icons {
        user-select: none;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 120px;

        .skill {
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0.4;
            color: white;
            border-radius: 25%;

            img {
                transition: transform 0.2s ease-in-out;
            };

            img:hover {
                transform: scale(1.1);
            };

            .name {
                text-align: center;
                word-wrap: break-word;
                opacity: 0.4;
            }
        }

        .highlight {
            opacity: 1;
            color: rgb(255, 182, 51);

            .name {
                opacity: 1;
            }
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .area {
        min-width: 590px;
        width: 100%;

    }

    .side-space {
        svg {
            padding: 0px 40px 0px 0px;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .content {

        // margin: 0px 24px;
        .icons {
            padding-left: 80px;
        }
    }

}

@media only screen and (max-width: 1160px) {
    .content {
        justify-content: center;
        gap: 36px;
        margin-left: 40px;
        margin-right: 40px;

        .text {
            margin-bottom: 80px;
        }

        .icons {
            padding-left: unset;

        }

        .area {
            min-width: unset;
        }

        .side-space {
            display: none;
        }
    }

}

@media only screen and (max-width: 850px) {
    .content {
        margin: 0px 40px;

        .side-space {
            display: none;
        }
    }
}

@media only screen and (max-width: 750px) {
    .content {
        flex-direction: column;


        .text {
            margin-bottom: unset;
        }
    }
}

@media only screen and (max-width: 530px) {
    .content {
        margin: 0px 24px;

        .icons {
            gap: 16px;

            .skill {
                width: 60px;
                font-size: 12px;
                gap: 4px;

                img {
                    max-width: 40px;
                }
            }
        }
    }
}