.show {
    animation: show 1000ms forwards;

    @keyframes show {
        from {
            height: 0;
            opacity: 0;
        }

        to {
            height: 80px;
            opacity: 1;
        }
    }
}

.top-bar {
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
    z-index: 2;
    width: 100vw;
    background-color: rgb(56, 55, 55);
    border-bottom: 1px solid rgba(255, 182, 51, 255);

    .showLogo {
        animation: showLogo 500ms forwards;

        &:hover {
            cursor: pointer;
        }

        @keyframes showLogo {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    .name-logo {
        user-select: none;
        display: flex;
        align-items: center;
        opacity: 0;
        font-size: 32px;
        font-weight: 600;
        width: 250px;

        span:nth-of-type(2) {
            color: rgba(255, 182, 51, 255);
        }

    }

    .middle-area {
        .overlay-toggle {
            display: flex;
            align-items: center;
            margin-left: 12px;
            gap: 8px;

            &:hover {
                cursor: pointer;
                color: rgba(255, 182, 51, 255);
            }
        }
    }

    .right-area {
        display: flex;
        align-items: center;
        gap: 16px;

        .langSelection {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            padding-right: 12px;
            color: rgba(255,255,255,0.6);
            
            .active {
                color: #ffb633;
            }

            .language {
                width: 24px;
                
                &:hover {
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .top-bar {
        padding: 0px 8px;
    }
}

@media only screen and (max-width: 650px) {
    .top-bar {
        height: 60px !important;

        .public-media-links {
            display: none;
        }

    }

}