<div [class.show]="this.showThis" class="top-bar">
    <div class="left-container"></div>
    <nav>
        <span href="">about me</span>
        <span href="">skills</span>
        <span href="">projects</span>
        <span href="">contact</span>
    </nav>
    <div class="public-media-links">
        <a href="https://www.linkedin.com/in/ingo-hermsen/" target="_blank"><i class="pi pi-linkedin"></i></a>
        <a href="https://github.com/IngoHermsen" target="_blank"><i class="pi pi-github"></i></a>
        <a href="mailto:contact@ingo-hermsen.de"><i class="pi pi-envelope"></i></a>
    </div>
</div>