<div [class.show]="this.showThis" class="top-bar">
    <div routerLink="/title" (click)="viewService.jumpToSection('title', 0)" [class.showLogo]="showLogo" class="name-logo">
        <span>I</span><span>ng</span><span>o</span>
        <span>&nbsp;Hermsen</span>
    </div>
    <div class="middle-area">
        <app-nav-links *ngIf="showTopNavLinks"></app-nav-links>
        <div *ngIf="!showTopNavLinks">
            <span (click)="viewService.toggleOverlayMenu()">Menu
                <i class="pi pi-chevron-circle-down" style="font-size: 2rem"></i>
            </span>
        </div>
    </div>
    <div class="public-media-links">
        <a href="https://www.linkedin.com/in/ingo-hermsen/" target="_blank"><i class="pi pi-linkedin"></i></a>
        <a href="https://github.com/IngoHermsen" target="_blank"><i class="pi pi-github"></i></a>
        <a href="mailto:contact@ingo-hermsen.de"><i class="pi pi-envelope"></i></a>
    </div>
</div>