<div class="content bg" data-aos="fade-right" data-aos-once="true">
    <div class="text">
        <h1 translate="nav.Contact"></h1>
        <article [innerHTML]="'contact.contactMeText' | translate">
        </article>
        <div class="media-links">
            <app-public-media-links [showGithub]="showGithubLink"></app-public-media-links>
        </div>

    </div>
    <form #contactForm="ngForm" action="" [formGroup]="formGroup" data-aos="zoom-in" data-aos-once="true"
        (ngSubmit)="submitForm()">
        <span class=" p-float-label">
            <input formControlName="name" pInputText id="name">
            <label htmlFor="name">Name</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="email" pInputText id="mail">
            <label htmlFor="email">Email</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="company" pInputText id="company">
            <label htmlFor="company">{{ 'contactForm.company' | translate }} (optional)</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="website" pInputText id="website">
            <label htmlFor="website">Website (optional)</label>
        </span>
        <span class=" p-float-label">
            <textarea formControlName="message" pInputTextarea id="message"></textarea>
            <label htmlFor="message">{{ 'contactForm.message' | translate }} </label>
        </span>

        <p-button [disabled]="!contactForm.valid" class="button" type="ngSubmit" [label]="'contactForm.send' | translate"
            styleClass="p-button-raised p-button-text p-button-warning w-full"></p-button>
        <div *ngIf="mailSent" class="mail-sent-overlay">
            <div class="overlay-content">
                <h3>{{ 'contactForm.thanks' | translate }}</h3>
                <div>{{ 'contactForm.mailSent' | translate}}</div>
                <div [innerHTML]="'contactForm.answerSoon' | translate"></div>
            </div>

        </div>
    </form>

</div>