<div class="content" data-aos="fade-right" data-aos-once="true">
    <div class="text">
        <h1>Contact me</h1>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus delectus accusantium, ipsam adipisci in sit
            fugit omnis laudantium mollitia similique dolorum, dolores accusamus libero asperiores dolorem, deleniti
            quis.
            Voluptatum, nihil?
        </article>
    </div>


    <form #contactForm="ngForm" action="" [formGroup]="formGroup" data-aos="zoom-in" data-aos-once="true" (ngSubmit)="submitForm()">
        <span class=" p-float-label">
            <input formControlName="name" pInputText id="name">
            <label htmlFor="name">name</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="email" pInputText id="mail">
            <label htmlFor="email">email</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="company" pInputText id="company">
            <label htmlFor="company">company (optional)</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="website" pInputText id="website">
            <label htmlFor="website">website (optional)</label>
        </span>
        <span class=" p-float-label">
            <textarea formControlName="message" pInputTextarea id="message"></textarea>
            <label htmlFor="message">message</label>
        </span>

        <p-button [disabled]="!contactForm.valid" class="button" type="ngSubmit" label="Submit"></p-button>
    </form>

</div>