<div class="content">
    <div class="head-area">
        <span>
            <h1>Projects</h1>
        </span>

        <article>
            I built several useful web apps, as well as an OOP-based Jump-and-Run-Game with the
            respective technologies.
        </article>
    </div>
    <div class="project-area">
        <ng-container *ngFor="let project of projects, index as i">
            <div class="project">
                <app-project [project]="project"></app-project>
            </div>
        </ng-container>
    </div>
</div>