.content {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;

    .head-area {

        margin-top: 40px;

        span {
            display: block;

        }
    }

    .project-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-top: 80px;
    }
}