<div class="bar">
    <div class="public-media-links">
        <a href="https://www.linkedin.com/in/ingo-hermsen/" target="_blank"><i class="pi pi-linkedin"></i></a>
        <a href="https://github.com/IngoHermsen" target="_blank"><i class="pi pi-github"></i></a>
        <a href="mailto:contact@ingo-hermsen.de"><i class="pi pi-envelope"></i></a>
    </div>
</div>
<div class="content">

    <div class="vh snap">
        <app-title>hello</app-title>
    </div>
    <div class="vh snap">
        <app-about-me></app-about-me>
    </div>
    <div class="vh snap snap-end">
        <app-skills></app-skills>
    </div>
    <div class="snap">
        <app-projects></app-projects>
    </div>
    <div class="vh snap">
        <app-contact></app-contact>
    </div>
</div>