<app-navigation></app-navigation>

<div class="wrapper">

    <div class="title content">
        <app-title></app-title>
    </div>
    <div *ngIf="showAll" class="content" id="aboutMe">
        <app-about-me></app-about-me>
    </div>
    <div *ngIf="showAll" class="content" id="skills">
        <app-skills></app-skills>
    </div>
    <div *ngIf="showAll" class="projects-content" id="projects">
        <app-projects></app-projects>
    </div>
    <div *ngIf="showAll" class="content" id="contact">
        <app-contact></app-contact>
    </div>
</div>