.overflowScroll {
    overflow-y: scroll !important;
}

.wrapper {
    height: 100vh;
    overflow-y: hidden;
    scroll-snap-type: y proximity;
}

.content {
    padding-top: 80px;
    height: 100%;
}

.projects-content {
    padding-top: 80px;
}

.component {
    height: calc(100vh);
}

.snap {
    scroll-snap-align: start;
}


