.wrapper {
    display: flex;
    margin-left: 32px;
    position: relative;
    height: 100%;

    .title-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .line-1 {
            display: flex;
            align-items: baseline;

        }

        .flex-column {
            flex-direction: column;
        }

        .text {
            display: flex;
            height: 90px;
            align-items: baseline;
            font-size: 4rem;
            font-weight: 600;

            .name-text {
                margin-left: 24px;
                color: rgba(255, 182, 51, 255);
            }

            .tag {
                color: rgba(0, 0, 0, 0.2);

            }

            ;

            .sim-cursor {
                color: rgba(0, 0, 0, 0.3);
                font-weight: 400
            }

            .invisible {
                opacity: 0;
            }
        }

    }


    .side-block {
        position: absolute;
        right: 0%;
        width: 0;
        height: 100%;
        background-color: rgba(255, 182, 51, 255);
        animation: slide-in 1200ms forwards;

        @keyframes slide-in {
            from {
                width: 0;
            }

            to {
                width: 25%;
            }
        }
    }

       .image {
        position: relative;
        width: 250px;

        img {
            position: absolute;
            opacity: 0;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            height: 100%;
            z-index: 3;
   
        }
    }

    .show-image {
        animation: visible 1000ms forwards;

        @keyframes visible {
            from {
                opacity: 0;
            }

            to {
                opacity: 1
            }
        }

    }




    .chevron {
        position: absolute;
        bottom: 80px;
        width: 100%;
        text-align: center;
        animation: pointdown 2s forwards;
        display: flex;
        flex-direction: column;


        @keyframes pointdown {
            0% {
                bottom: 80px;
            }

            25% {
                bottom: 70px;
            }

            50% {
                bottom: 80px;
            }

            75% {
                bottom: 70px;
            }

            100% {
                bottom: 80px;
            }
        }

        i {
            user-select: none;
            bottom: 40px;
            font-size: 40px;


        }
    }

}