<div class="content">
    <div class="side-space left"></div>
    <div *ngIf="showImageArea" class="image-area" data-aos-id="image" data-aos="fade-right" #imageArea>
        <div class="image border"></div>
        <div [class.swing-animation]="swingImgAnimation" class="image image-content" #imageContent>
            <img draggable="false" src="./assets/img/profile-image_2.png" alt="profile-image-2">
        </div>
    </div>

    <div class="about-me-text" data-aos="fade-left">
        <h1>Über mich</h1>
        <div class="text-area">
            Ich bin ein 39-jähriger Webentwickler aus Weeze (Kreis Kleve, NRW), mit Erfahrung im Erstellen von webbasierten Applikationen mit 
            JavaScript & Angular.<br>
            Stets begeistert von den Möglichkeiten der modernen Webentwicklung habe ich mich im letzten Jahr dazu entschlossen, meine Coding-Erfahrungen auf ein professionelles Level zu bringen.
            Mein Ziel war es, Fähigkeiten zu erwerben, die mir die effiziente Entwicklung von webbasierten Anwendungen erlauben.  
            <br>
            Dieses Ziel habe ich mit der Developer Akademie in München erreicht. 
            In zahlreichen praktischen Übungen und Projekten habe ich ständig Neues kennengelernt und - unter Verwendung vieler Good-Practice-Richtlinien - intensiv angewendet.
            Die Projekte wurden dabei immer komplexer und von erfahrenen Mentoren geprüft und freigegeben.
            <br>
            Durch diesen kontinuierlichen Prozess des Lernens und der direkten Umsetzung habe ich mich innerhalb der letzten Monate erheblich weiterentwickelt.
            <br><br>
            Überzeugen Sie sich gerne von meinen Fähigkeiten in meiner Auswahl an responsiven Webseiten und Applikationen.
        </div>
        <div *ngIf="showPublicMediaLinks" class="public-media-links">
            <app-public-media-links></app-public-media-links>
        </div>
    </div>
    <div class="side-space right">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
            style="width: 100%; height: 100%;">
            <polygon points="100,0 100,100 0,50" fill="#ffb633" />
        </svg>
    </div>
</div>