<div class="content">
    <div class="image-area">
            <div class="image border"></div>
            <div class="image image-content">
                <span class="pin"></span>
            </div>

    </div>

    <div class= about-me-text>
        <h2>About me</h2>
        <article>I am a highly motivated Web Developer with experience in building web apps with JavaScript & Angular. You are welcome to visit my  public portfolio to take a look at responsive websites and apps I created. 
            Always fascinated by the possibilities of modern web development I decided to turn my first knowledge of coding into the ability of creating professional web-based applications.
            I reached this goal during my time at the Developer Akademie by using common coding practices and techniques in many practical exercises and projects, which have been approved by experienced mentors.
            My coding skills have improved significantly over the past few months thanks to this continuous process of absorbing new knowledge from various projects.</article>
    </div>
</div>
