<div *ngIf="!viewService.fontsLoaded">
    <app-loading-screen></app-loading-screen>
</div>

<div *ngIf="viewService.fontsLoaded" class="wrapper" #content>
    <div class="nav">
        <app-navigation></app-navigation>
    </div>
    <div *ngIf="showNavOverlay" class="nav-overlay">
        <i (click)="viewService.toggleOverlayMenu()" class="pi pi-times" style="font-size: 2rem"></i>
        <nav>
            <span translate="nav.AboutMe" class="nav-link" routerLink="/aboutme"
                (click)="viewService.jumpToSection('aboutMe', 1, 'closeOverlay')"></span>
            <span translate="nav.Skills" class="nav-link" routerLink="/skills"
                (click)="viewService.jumpToSection('skills', 2, 'closeOverlay')"></span>
            <span translate="nav.Projects" class="nav-link" routerLink="/projects"
                (click)="viewService.jumpToSection('projects', 3, 'closeOverlay')"></span>
            <span translate="nav.Contact" class="nav-link" routerLink="/contact"
                (click)="viewService.jumpToSection('contact', 4, 'closeOverlay')"></span>
        </nav>
        <div class="langSelection">
            <span [class.active]="translate.currentLang == 'en'" class="language" (click)="translate.use('en')">English</span>
            <span [class.active]="translate.currentLang == 'de'" class="language" (click)="translate.use('de')">Deutsch</span>
        </div>
    </div>
    <div class="title-content" id="title" #titleDiv>
        <app-title></app-title>
    </div>
    <div *ngIf="showAll" class="only-vh-content" id="aboutMe" #aboutMeDiv>
        <app-about-me></app-about-me>
    </div>
    <div *ngIf="showAll" class="only-vh-content" id="skills" #skillsDiv>
        <app-skills></app-skills>
    </div>
    <div *ngIf="showAll" class="scroll-content" id="projects" #projectsDiv>
        <app-projects></app-projects>
    </div>
    <div *ngIf="showAll" class="only-vh-content contact" id="contact" #contactDiv>
        <app-contact></app-contact>
    </div>
    <div *ngIf="showAll">
        <app-footer></app-footer>
    </div>
</div>