@import "primeicons/primeicons.css";
@import "primeng/resources/themes/saga-orange/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

body {
    position: relative;
    color: white;
    background-color: rgb(56, 55, 55);
    margin: 0px;
    font-family: 'Poppins';
}

h1 {
    display: inline;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 60%;
        height: 4px;
        bottom: -12px;
        left: 0px;
        background-color: rgba(255, 182, 51, 255);
    }
}

article {
    margin-top: 24px;
    max-width: 650px;
}

p-button {
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
}

i:hover {
    user-select: none;
}
