<div class="content">

    <a pTooltip="LinkedIn" tooltipPosition="bottom" href="https://www.linkedin.com/in/ingo-hermsen/" target="_blank"><i class="pi pi-linkedin"></i></a>
    <a pTooltip="Xing" tooltipPosition="bottom" href="https://www.xing.com/profile/Ingo_Hermsen/" target="_blank"><img src="/assets/icons/xing.png"
            alt="xing-icon"></a>
    <a *ngIf="showGithub" pTooltip="Github" tooltipPosition="bottom" href="https://github.com/IngoHermsen" target="_blank"><i class="pi pi-github"></i></a>
    <a pTooltip="Send an email" tooltipPosition="bottom" href="mailto:contact@ingo-hermsen.de"><i class="pi pi-envelope"></i></a>
</div>
